@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Outfit;
}

body{
    height: 100vh;
}
a{
    text-decoration: none;
    color: inherit;
}
.App{
    width: 95%;
    margin: auto;
}

@keyframes HeaderContent{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}